<div data-controller="accusation">
  <%= form_tag({}, remtoe: true, "data-target": "accusation.form") do %>
    <div class="mdc-layout-grid">
      <%= render 'shared/mdc_grid_for_form', { locals: { center_text: true }} do %>
        <h1 class="mdc-typography--headline5 mdc-theme--on-surface">Accuse a player</h1>
      <% end %>
      <%= render 'shared/mdc_grid_for_form' do %>
        <%= render 'components/select',
            name: "player",
            option_tags: options_from_collection_for_select(@game.players, "id", "name"),
            text: "Pick a player"
        %>
      <% end %>
      <%= render 'shared/mdc_grid_for_form' do %>
        <%= render 'components/text_area', {
            name: "evidence",
            text: "Evidence",
            options: {
              class: "mdc-text-field__input",
              "data-target": "upload-steps.evidence",
              "data-action": "input->upload-steps#evidenceChanged"
            }
          }
        %>
      <% end %>
      <%= render 'shared/mdc_grid_for_form' do %>
        <%= render 'components/button',
            text: "Submit"
        %>
      <% end %>
    </div>
  <% end %>
</div>