<p id="notice"><%= notice %></p>

<%= react_component("input") %>

<p>
  <strong>Map:</strong>
  <%= @game.map %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @game.url %>
</p>

<p>
  <strong>Format:</strong>
  <%= @game.format %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @game.game_type %>
</p>

<p>
  <strong>Season:</strong>
  <%= @game.season_id %>
</p>

<p>
  <strong>Replay version:</strong>
  <%= @game.replay_version %>
</p>

<p>
  <strong>Map image:</strong>
  <%= @game.map_image %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
