<p id="notice"><%= notice %></p>

<div class="mdc-layout-grid__inner">
  <% @game_players.map do |game_player| %>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell">
      <div class="mdc-card card">
        <div class="mdc-card__primary-action" data-mdc-auto-init="MDCRipple">
          <div class="mdc-card__media mdc-card__media--16-9" style='background-image: url("/img/maps/<%= game_player.game.map_image %>")'></div>
          <div class="card-content">
            <h1 class="mdc-typography--headline6">
              <%= image_tag("flags/#{game_player.player.server}.png") %>
              <%= image_tag("races/ico_race_#{game_player.race.downcase}.png") %>
              <%= game_player.player.name %>
            </h1>
            <div class="mdc-typography-body1"><%= game_player.game.map %></div>
            <div class="mdc-typography-body1"><%= game_player.game.format %> <%= game_player.game.game_type %></div>
            <div class="mdc-typography-body1"><%= game_player.game.date %></div>
            <div class="mdc-typography--caption"><%= game_player.guilty_count %> think they're hacking</div>
            <div class="mdc-typography--caption"><%= game_player.innocent_count %> think they aren't hacking</div>
          </div>
        </div>
        <div class="mdc-card__actions">
          <button class="mdc-button mdc-card__action--button">
            <span class="mdc-button__label">All Games</span>
          </button>
          <button class="mdc-button mdc-card__action--button">
            <span class="mdc-button__label">Battle.net Profile</span>
          </button>
        </div>
      </div>
    </div>
  <% end %>
</div>
