<p id="notice"><%= notice %></p>

<div class="mdc-layout-grid__inner">
  <% @game_players.map do |game_player| %>
    <div class="mdc-layout-grid__cell">
      <div class="mdc-card card">
        <div class="mdc-card__primary-action" data-mdc-auto-init="MDCRipple">
          <div class="mdc-card__media mdc-card__media--16-9" style='background-image: url("/img/maps/<%= game_player.game.map_image %>")'></div>
          <div class="card-content mdc-theme--on-surface">
            <h1 class="mdc-typography--headline6">
              <%= render 'components/flag', id: game_player.player.server %>
              <%= image_tag("races/ico_race_#{game_player.race.downcase}.png") %>
              <%= game_player.player.name %>
            </h1>
            <div class="mdc-typography-body1"><%= game_player.game.map %></div>
            <div class="mdc-typography-body1"><%= game_player.game.format %> <%= game_player.game.game_type %></div>
            <div class="mdc-typography-body1"><%= game_player.game.date %></div>
            <div class="mdc-typography--caption"><%= game_player.guilty_count %> think they're hacking</div>
            <div class="mdc-typography--caption"><%= game_player.innocent_count %> think they aren't hacking</div>
          </div>
        </div>
        <div class="mdc-card__actions">
          <%= render 'components/card/action', link: games_path do %>All Games<% end %>
          <%= render 'components/card/action', link: game_player.player.bnet_url do %>
            Battle.net URL
            <i class="material-icons">launch</i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
