<p id="notice"><%= notice %></p>

<h1>Game Players</h1>

<table>
  <thead>
    <tr>
      <th>Is accused</th>
      <th>Winner</th>
      <th>Evidence</th>
      <th>Clan</th>
      <th>Race</th>
      <th>Mmr</th>
      <th>Division</th>
      <th>Server rank</th>
      <th>Global rank</th>
      <th>Apm</th>
      <th>Team</th>
      <th>Color</th>
      <th>Guilty count</th>
      <th>Innocent count</th>
      <th>Game</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_players.each do |game_player| %>
      <tr>
        <td><%= game_player.is_accused %></td>
        <td><%= game_player.winner %></td>
        <td><%= game_player.evidence %></td>
        <td><%= game_player.clan %></td>
        <td><%= game_player.race %></td>
        <td><%= game_player.mmr %></td>
        <td><%= game_player.division %></td>
        <td><%= game_player.server_rank %></td>
        <td><%= game_player.global_rank %></td>
        <td><%= game_player.apm %></td>
        <td><%= game_player.team %></td>
        <td><%= game_player.color %></td>
        <td><%= game_player.guilty_count %></td>
        <td><%= game_player.innocent_count %></td>
        <td><%= game_player.game %></td>
        <td><%= game_player.player %></td>
        <td><%= link_to 'Show', game_player %></td>
        <td><%= link_to 'Edit', edit_game_player_path(game_player) %></td>
        <td><%= link_to 'Destroy', game_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Player', new_game_player_path %>
