<p id="notice"><%= notice %></p>

<p>
  <strong>Is accused:</strong>
  <%= @game_player.is_accused %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game_player.winner %>
</p>

<p>
  <strong>Evidence:</strong>
  <%= @game_player.evidence %>
</p>

<p>
  <strong>Clan:</strong>
  <%= @game_player.clan %>
</p>

<p>
  <strong>Race:</strong>
  <%= @game_player.race %>
</p>

<p>
  <strong>Mmr:</strong>
  <%= @game_player.mmr %>
</p>

<p>
  <strong>Division:</strong>
  <%= @game_player.division %>
</p>

<p>
  <strong>Server rank:</strong>
  <%= @game_player.server_rank %>
</p>

<p>
  <strong>Global rank:</strong>
  <%= @game_player.global_rank %>
</p>

<p>
  <strong>Apm:</strong>
  <%= @game_player.apm %>
</p>

<p>
  <strong>Team:</strong>
  <%= @game_player.team %>
</p>

<p>
  <strong>Color:</strong>
  <%= @game_player.color %>
</p>

<p>
  <strong>Guilty count:</strong>
  <%= @game_player.guilty_count %>
</p>

<p>
  <strong>Innocent count:</strong>
  <%= @game_player.innocent_count %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game_player.game %>
</p>

<p>
  <strong>Player:</strong>
  <%= @game_player.player %>
</p>

<%= link_to 'Edit', edit_game_player_path(@game_player) %> |
<%= link_to 'Back', game_players_path %>
