<div class="mdc-layout-grid__inner">
  <div class="mdc-layout-grid__cell">
    <%= render 'shared/game_player_card', game_player: @game_player %>
  </div>
  <div class="mdc-layout-grid__cell">
    <div data-controller="vote" class="mdc-theme--on-surface">
      <h2 class="mdc-typography--headline5">Choose your verdict</h2>
      <a href="<%= @game_player.game.url %>" target="_blank" class="mdc-button" data-mdc-auto-init="MDCRipple">
        <span class="mdc-button__label">Download the replay</span>
      </a>
      <h1 class="mdc-typography--headline6">Evidence</h1>
      <p class="mdc-typography--body2"><%= @game_player.evidence %></p>
      <h1 class="mdc-typography--headline6">Verify the winner</h1>
      <%= render 'components/select',
          name: :player,
          option_tags: options_from_collection_for_select(@game_player.game.players, :id, :name),
          text: "Pick a player",
          data_target: "vote.player"
      %>
      <%= render 'components/select', {
          name: :verdict,
          option_tags: options_for_select([
              %w(Guilty guilty),
              %w(Innocent innocent)
          ]),
          text: "Verdict",
          data_target: "vote.verdict" }
      %>
      <button class="mdc-button" type="submit" data-target="vote.submit" data-mdc-auto-init="MDCRipple">
        <span class="mdc-button__label">Submit</span>
      </button>
    </div>
  </div>
</div>


