<h1 class="mdc-typography--headline6 mdc-theme--on-surface">Vote</h1>
<div class="mdc-layout-grid__inner">
  <div class="mdc-layout-grid__cell">
    <%= render @game_player %>
  </div>
  <div class="mdc-layout-grid__cell">
    <div data-controller="vote" data-vote-form-valid="false" class="mdc-theme--on-surface">
      <%= form_tag(game_player_path(@game_player), method: :put) do%>
        <h2 class="mdc-typography--headline5">Choose your verdict</h2>
        <a href="<%= @game_player.game.url %>" target="_blank" class="mdc-button" data-controller="ripple">
          <span class="mdc-button__label">Download the replay</span>
        </a>
        <h1 class="mdc-typography--headline6">Evidence</h1>
        <pre class="mdc-typography--body2 mdc-theme--background evidence"><%= @game_player.evidence %></pre>

        <h1 class="mdc-typography--headline6">
          Is <%= @game_player.player.name %> hacking?
        </h1>
        <%= render 'components/select', {
            name: :verdict,
            option_tags: [
                { value: "guilty", label: "Yes" },
                { value: "innocent", label: "No" }
            ],
            text: "Verdict",
            data_target: "vote.verdict",
        } %>

        <div class="mdc-typography--headline6">
          Verify the winner
          <div class="mdc-typography--subtitle2">In an effort to ensure users watch the replay, we ask you to select the winner below.</div>
        </div>
        <br>
        <%= render 'components/select', {
            name: :player,
            option_tags: @game_player.game.players.map { |p| { value: p.id, label: p.name }},
            text: "Pick a player",
            data_target: "vote.player"
        } %>
        <button class="mdc-button" type="submit" data-target="vote.submit" data-controller="ripple">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">Submit</span>
        </button>
      <% end %>
    </div>
  </div>
</div>


