<!DOCTYPE html>
<html>
  <head>
    <title>StimulusSc2overwatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true%>
  </head>

  <body class="mdc-typography mdc-theme--background">
    <div data-controller="mdc-auto-init" ></div>
    <div data-controller="nav" data-nav-search-open="false" data-nav-step="0" data-nav-search-url="<%= search_players_path %>">
      <%= render "shared/navbar" %>
      <%= render 'drawer/drawer_modal' %>
      <%= render 'shared/search_results' %>
    </div>
    <div class="mdc-top-app-bar--fixed-adjust page">
      <%= render "drawer/drawer" %>
      <section class="mdc-layout-grid main-content">
        <%= yield %>
      </section>
    </div>

    <%= render "upload_modal/upload_modal" %>
    <%= render "components/snackbar/snackbar" %>
  </body>


</html>
