<!DOCTYPE html>
<html>
  <head>
    <title>StimulusSc2overwatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>

  <body class="mdc-typography">
    <div data-controller="nav-outer" data-action="modalStateChanged->nav-outer#offsetContent">
      <div id="nav" data-controller="nav" data-nav-open="false" data-turbolinks-permanent>
        <%= render "shared/nav_drawer" %>
        <div class="mdc-drawer-app-content">
          <%= render "shared/navbar" %>
        </div>
      </div>
      <main data-target="nav-outer.content">
        <div class="mdc-layout-grid mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
          <%= yield %>
        </div>
      </main>
    </div>



    <%= render "upload_modal/upload_modal" %>

    <script>
      window.autoInit();
    </script>
  </body>


</html>
