<%= form_tag(accuse_game_player_path(@game.id), method: :post, local: true, "data-target": "upload-modal.accusationForm") do %>
  <div class="mdc-select input" data-mdc-auto-init="MDCSelect" data-target="upload-modal.playerField">
    <%= text_field_tag(:player, nil, hidden: true) %>
    <i class="mdc-select__dropdown-icon"></i>
    <div class="mdc-select__selected-text"></div>
    <div class="mdc-select__menu mdc-menu mdc-menu-surface">
      <ul class="mdc-list">
        <% @game.players.map do |player| %>
          <li class="mdc-list-item" data-value="<%= player.bnet_id %>"><%= player.name %></li>
        <% end %>
      </ul>
    </div>
    <span class="mdc-floating-label">Pick a player to accuse</span>
  <div class="mdc-line-ripple"></div>
  </div>
  <div class="mdc-text-field mdc-text-field--textarea input" data-mdc-auto-init="MDCTextField" data-target="upload-modal.evidenceField">
    <%= text_area_tag(:evidence, nil, class: "mdc-text-field__input", "data-action": "input->upload-modal#setSubmitButtonState" ) %>
    <div class="mdc-notched-outline">
      <div class="mdc-notched-outline__leading"></div>
      <div class="mdc-notched-outline__notch">
        <%= label_tag(:evidence, "Evidence", class: "mdc-floating-label") %>
      </div>
      <div class="mdc-notched-outline__trailing"></div>
    </div>
  </div>
<% end %>
